
#search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* background-color: #f1f1f1; */
}

.suggestions:not(.hidden) {
  display: block;
}

.hidden {
  display: none;
}

.suggestion-item {
  padding: 5px 10px;
  cursor: pointer;
}

.suggestion-item:hover,
.suggestion-item.selected {
  background-color: #ddd;
}

#lang-search {
  position: relative;
  width: 100%;
  max-width: 250px;
  margin-right: 20px;
}

#lang-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

#lang-suggestions {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 0px;
  padding: 0;
  list-style: none;
  background-color: #f1f1f1;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-height: 200px;
  overflow-y: auto;
}

#term-search {
  position: relative;
  width: 100%;
  max-width: 500px;
}

#term-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

#term-suggestions {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 0px;
  padding: 0;
  list-style: none;
  background-color: #f1f1f1;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-height: 500px;
  overflow-y: auto;
}

.term-line {
  margin-bottom: 5px;
}

.pos-line {
  margin-left: 10px;
  font-size: smaller;
}

.pos {
  font-style: italic;
}